h1 {
    font: 30px impact, sans-serif;
}
body {
    background-image: url('img/bg1.jpg');
    background-color: #000000;
    background-repeat: no-repeat;
}
h2 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
p {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
video {
    display: block;
    margin: 0 auto;
}
p {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#test {
    color: white;
    float: right;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
dl {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
dt {
    padding-bottom: 10px;
}
dd {
    padding-bottom: 5px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a3 {
    #range-logo {
        background-image: url(logo.png);
        display: block;
        height: 100px;
        width: 460px;
    }
}